
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="com.bootcamp"/>

	<import resource="db/datasource.xml"/>
	<import resource="jdbc/Spring-JDBC.xml"/>
	<!--<import resource="hibernate/Spring-Hibernate.xml"/>-->

	<bean id="customerService" class="com.bootcamp.spring.integrations.service.CustomerService">
		<property name="customerDAO" ref="customerJdbcDao" />
	</bean>
	
</beans>
